.form {
    width: 500px;
    margin: 40px auto;
    
}

.form-Container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

.form-Container label {
    font-size: 24px;
    font-weight: bold;
}

.form-Container input,
.form-Container textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-Container textarea {
    height: 100px;
    resize: vertical;
}

.form-Container button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}