h1 {
  text-align: center;
   font-family: "Black Ops One", system-ui;
}

*{
    box-sizing: border-box;
}

body{
      font-family: "Lora", serif;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 3px solid grey;
  padding: 3%;
}


section{
    display: flex;
    justify-content: center;
}

input , button{
    padding: 3%;
}

#add-button{
    border-radius: 5px;
    background-color: rgb(216, 28, 28);
}

